<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Food Truck</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
</head>

<body>
  <div>
    {% if session.user_id %}
    <h2>Logged in as {{session.user_name}}</h2>
    <a href="/logout">Log out</a>
    {% else %}
    <a href="/login">Log in</a>
    <a href="/register">Sign up</a>
    {% endif %}
  </div>
  <main>
    {% block main %}
    {% endblock %}
  </main>

</body>

</html>
