{% extends "base.html" %}

{% block main %}
<script src="../static/js/update-quantity.js" defer></script>
<div class="py-3 text-center container">
  <span>Page: </span>
  {% for page in range(1,page_count+1) %}
  <a href="/?page={{page}}">{{page}}</a>
  {% endfor %}
</div>
<div class="album py-2">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 py-1">
      {% for product in products %}
      <div class="col">
        <div class="card shadow-sm text-center align-items-center h-100">
          <div class="py-2">
            <strong>{{product.store}}</strong>
          </div>
          <div class="py-2"><img width="250" height="200" src="{{product.image_url}}" alt="{{product.name}}"></div>
          <div class="card-body">
            <p class="card-text">{{product.name}}</p>
            <h2>${{product.price/100}}</h2>
            {% if product.package_size and product.cup_price%}
            <p>{{product.package_size}} | {{product.cup_price}}</p>
            {% else %}
            <p>{{product.package_size}}</p>
            <p>{{product.cup_price}}</p>
            {% endif %}
          </div>
          <div class="d-flex justify-content-between align-items-center">

            {% if session.user_role != 'admin' %}
            <form action="/add-to-cart-action?page={{current_page}}&product-id={{product.id}}" method="POST">
              <div class="form-group row">
                <div class="col">
                  <button class="btn btn-light w-100 h-100" id="minus-{{loop.index0}}" type="button">
                    <h4>-</h4>
                  </button>
                </div>
                <div class="col align-self-center">
                  <input class="form-control text-center" id="quantity-{{loop.index0}}" name="quantity" value="0"
                    readonly>
                </div>
                <div class="col">
                  <button class="btn btn-light w-100 h-100" id="plus-{{loop.index0}}" type="button">
                    <h4>+</h4>
                  </button>
                </div>
              </div>
              <div class="row py-2">
                <button class="btn btn-primary" id="add-{{loop.index0}}" type="submit">Add to
                  cart</button>
              </div>
            </form>
            {% endif %}

          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<div class="py-3 text-center container">
  <span>Page: </span>
  {% for page in range(1,page_count+1) %}
  <a href="/?page={{page}}">{{page}}</a>
  {% endfor %}
</div>
{% endblock %}
