{% extends "base.html" %}

{% block main %}
<a href="/orders">Back to orders</a>
<h2>Order #{{order_id}}</h2>
<h3>Customer Name: {{customer_name}}</h3>
<h3>Customer Address: {{customer_address}}</h3>
<h3>Total amount: ${{total_amount/100}}</h3>
<table>
  <tr>
    <th>Product No.</th>
    <th>Store</th>
    <th>Product Name</th>
    <th>Unit Price</th>
    <th>Quantity</th>
  </tr>
  {% for order_detail in order_details %}
  <tr>
    <td>{{order_detail.product_id}}</td>
    <td>{{order_detail.store}}</td>
    <td>{{order_detail.product_name}}</td>
    <td>${{order_detail.unit_price/100}}</td>
    <td>{{order_detail.quantity}}</td>
  </tr>
  {% endfor %}
</table>

{% endblock %}
