{% extends "base.html" %}

{% block main %}
<form action="/register" method="post">
  <div class="form-group">
    <input autocomplete="off" autofocus class="form-control" name="email" placeholder="Email" type="email">
  </div>
  <div class="form-group">
    <input autocomplete="off" autofocus class="form-control" name="name" placeholder="Username" type="text">
  </div>
  <div class="form-group">
    <input class="form-control" name="password" placeholder="Password" type="password">
  </div>
  <div class="form-group">
    <input class="form-control" name="ref-code" placeholder="Reference code" type="password">
  </div>
  <button type="submit">Sign up</button>
</form>
{% endblock %}
